In [1]:
# Name:  Obembe, Olufemi
# Assignment:  Week3--Sentiment Analysis with TextBlob
# Date:  December 15, 2021

In [2]:
# Importing the necessary libraries

import pandas as pd
import numpy as np
import re
from textblob import TextBlob
import io

In [3]:
# Load the Movie Rating File

from google.colab import files
uploaded = files.upload()

Saving labeledTrainData.tsv to labeledTrainData.tsv

In [4]:
#Read the dataset

df = pd.read_csv(io.BytesIO(uploaded['labeledTrainData.tsv']),sep='\t')
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [5]:
# Number of positive and negative reviews

df['sentiment'].value_counts()

1    12500
0    12500
Name: sentiment, dtype: int64

In [6]:
# Classifying sentiments (sentiment2) as positive and negative with TextBlob 

df['sentiment2'] = df['review'].apply(lambda x: (TextBlob(x).sentiment.polarity))

In [7]:
df.head()

       id  ...  sentiment2
0  5814_8  ...    0.001277
1  2381_9  ...    0.256349
2  7759_3  ...   -0.053941
3  3630_4  ...    0.134753
4  9495_8  ...   -0.024842

[5 rows x 4 columns]

In [8]:
# Classifying sentiment2 (sentiment3) into positive or negative

df['sentiment3']=''
df.loc[df.sentiment2>=0,'sentiment3']=1
df.loc[df.sentiment2<0,'sentiment3']=0

In [9]:
df.head()

       id  sentiment  ... sentiment2  sentiment3
0  5814_8          1  ...   0.001277           1
1  2381_9          1  ...   0.256349           1
2  7759_3          0  ...  -0.053941           0
3  3630_4          0  ...   0.134753           1
4  9495_8          1  ...  -0.024842           0

[5 rows x 5 columns]

In [10]:
df['sentiment3'].value_counts()

1    19017
0     5983
Name: sentiment3, dtype: int64

In [11]:
19017/len(df)

0.76068

In [12]:
# TextBlob predics 76% correctly while the base model predicted 50%.

USING VADER

In [14]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 5.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [15]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [16]:
# Load VADER and generate analyzer.polarity score variable

analyzer = SentimentIntensityAnalyzer()

In [17]:
df['score'] = df['review'].apply(lambda review:analyzer.polarity_scores(review))
df.head()

       id  ...                                              score
0  5814_8  ...  {'neg': 0.128, 'neu': 0.751, 'pos': 0.121, 'co...
1  2381_9  ...  {'neg': 0.08, 'neu': 0.713, 'pos': 0.207, 'com...
2  7759_3  ...  {'neg': 0.135, 'neu': 0.809, 'pos': 0.055, 'co...
3  3630_4  ...  {'neg': 0.062, 'neu': 0.884, 'pos': 0.054, 'co...
4  9495_8  ...  {'neg': 0.122, 'neu': 0.743, 'pos': 0.135, 'co...

[5 rows x 6 columns]

In [18]:
# Call out compound and designate values less than 0 as 0 and values more than 0 as 1

df['compound'] = df['score'].apply(lambda score_dict:score_dict['compound'])
df.head()

       id  ...  compound
0  5814_8  ...   -0.8879
1  2381_9  ...    0.9736
2  7759_3  ...   -0.9883
3  3630_4  ...   -0.1202
4  9495_8  ...    0.6115

[5 rows x 7 columns]

In [19]:
# Classifying compound into positive (1) or negative (0)

df['score2']=''
df.loc[df.compound>=0,'score2']=1
df.loc[df.compound<0,'score2']=0

df.head()

       id  sentiment  ... compound  score2
0  5814_8          1  ...  -0.8879       0
1  2381_9          1  ...   0.9736       1
2  7759_3          0  ...  -0.9883       0
3  3630_4          0  ...  -0.1202       0
4  9495_8          1  ...   0.6115       1

[5 rows x 8 columns]

In [20]:
df['score2'].value_counts()

1    16611
0     8389
Name: score2, dtype: int64

In [21]:
vader_accuracy = 16611/len(df)

In [22]:
vader_accuracy

0.66444

In [ ]:
# Vader predicted 66% correctly which is less than TextBlob but higher than the base modell.