In [38]:
# Name:  Obembe, Olufemi
# Assignment:  Week1
# Date:  December 5, 2021

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files
upload = files.upload()

Saving Vediogames.csv to Vediogames.csv

In [4]:
df = pd.read_csv("Vediogames.csv")

In [5]:
# Display the first ten rows

df.head(10)

                        Name Platform  ...  Developer Rating
0                 Wii Sports      Wii  ...   Nintendo      E
1          Super Mario Bros.      NES  ...        NaN    NaN
2             Mario Kart Wii      Wii  ...   Nintendo      E
3          Wii Sports Resort      Wii  ...   Nintendo      E
4   Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN
5                     Tetris       GB  ...        NaN    NaN
6      New Super Mario Bros.       DS  ...   Nintendo      E
7                   Wii Play      Wii  ...   Nintendo      E
8  New Super Mario Bros. Wii      Wii  ...   Nintendo      E
9                  Duck Hunt      NES  ...        NaN    NaN

[10 rows x 16 columns]

In [6]:
# Find the dimensions (number of rows and columns) in the data frame

df.shape

(16719, 16)

In [7]:
# There 16,719 rows with 16 columns in the dataset

In [8]:
# Find the top five games by critic score

top5_games = df.groupby('Name')['Critic_Score'].sum().sort_values(ascending=False).head()

In [9]:
top5_games

Name
Madden NFL 07                              702.0
Need for Speed: Most Wanted                620.0
Madden NFL 08                              617.0
LEGO Star Wars II: The Original Trilogy    605.0
Terraria                                   568.0
Name: Critic_Score, dtype: float64

In [10]:
# Find the number of video game in the data frame in each genre

df['Genre'].value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [15]:
# Find the first five games in the data frame on the SNES platform.

SNES = df[df['Platform'] =='SNES']
SNES.head()

                                     Name Platform  ...  Developer Rating
18                      Super Mario World     SNES  ...        NaN    NaN
56                  Super Mario All-Stars     SNES  ...        NaN    NaN
71                    Donkey Kong Country     SNES  ...        NaN    NaN
76                       Super Mario Kart     SNES  ...        NaN    NaN
137  Street Fighter II: The World Warrior     SNES  ...        NaN    NaN

[5 rows x 16 columns]

In [16]:
#Find the five publishers with the highest total global sales

top5_publishers = df.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head()

In [17]:
top5_publishers

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

In [21]:
# Create a new column in the data frame that calculates the percentage of global sales from North America. 
# Display the first five rows of the new data frame.

df['NA_pct'] = (df['NA_Sales']/df['Global_Sales'])*100

In [22]:
df['NA_pct'].head()

0    50.115110
1    72.266402
2    44.144144
3    47.635032
4    35.926044
Name: NA_pct, dtype: float64

In [23]:
# Find the number NaN entries (missing data values) in each column.

df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
NA_pct                0
dtype: int64

In [24]:
# 10.	Try to calculate the median user score of all the video games 
# Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value

df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
NA_pct             float64
dtype: object

In [25]:
df['User_Score'].value_counts()

tbd    2425
7.8     324
8       290
8.2     282
8.3     254
       ...
0.6       2
1.5       2
1         2
9.7       1
0         1
Name: User_Score, Length: 96, dtype: int64

In [26]:
df['User_Score']=df['User_Score'].replace('tbd',np.nan)

In [27]:
# Convert column to numeric values

df['User_Score'] =df['User_Score'].apply(pd.to_numeric)

In [28]:
# Median of the vedio games

md_vd = df.groupby('Name')['User_Score'].median()

In [29]:
md_vd

Name
 Beyblade Burst                 NaN
 Fire Emblem Fates              NaN
 Frozen: Olaf's Quest           NaN
 Haikyu!! Cross Team Match!     NaN
 Tales of Xillia 2              7.9
                               ...
thinkSMART: Chess for Kids      NaN
uDraw Studio                    NaN
uDraw Studio: Instant Artist    5.7
wwe Smackdown vs. Raw 2006      NaN
¡Shin Chan Flipa en colores!    NaN
Name: User_Score, Length: 11562, dtype: float64

In [30]:
mdn = df['User_Score'].median()

In [31]:
mdn

7.5

In [35]:
df['User_Score2'] = df['User_Score'].fillna(df['User_Score'].median())

In [36]:
# Finding the median after replacing NAN with median value

md_vd2 = df.groupby('Name')['User_Score2'].median()

In [37]:
md_vd2

Name
 Beyblade Burst                 7.5
 Fire Emblem Fates              7.5
 Frozen: Olaf's Quest           7.5
 Haikyu!! Cross Team Match!     7.5
 Tales of Xillia 2              7.9
                               ...
thinkSMART: Chess for Kids      7.5
uDraw Studio                    7.5
uDraw Studio: Instant Artist    6.6
wwe Smackdown vs. Raw 2006      7.5
¡Shin Chan Flipa en colores!    7.5
Name: User_Score2, Length: 11562, dtype: float64